.container3 {
    width: 100%;
    height: 644px;
    position: absolute;
    top: 2188.8px;
    right:0px;
    background-color: #f7f7fb;
}
.Its-everything-you {
    width: 444px;
    height: 126px;
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    top: 2265.8px;
    left: 498px;
    white-space: nowrap;
         text-overflow: clip;
    font-size: 54px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -1.69px;
    text-align: center;
    color: #19191b;
}
.book1 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2445.8px;
    left: 222px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: white;
}
.book2 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2445.8px;
    left: 562px; 
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color:white;
}
.book3 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2445.8px;
    left: 902px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: white;
}
.book4 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2548.8px;
    left: 306px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color:white;
}
.book5 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2548.8px;
    left: 649px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    box-shadow: 0 47px 49px 0 rgba(65, 62, 101, 0.3);
    background-color: white;
}
.book6 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2650.8px;
    left: 222px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: white;
}
.book7 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2650.8px;
    left: 563px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: white;
}
.book8 {
    width: 313px;
    height: 72px;
    position: absolute;
    top: 2650.8px;
    left: 905px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: white;
}
.Oval-bow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2457.8px;
    left:236px;
    border-radius: 50px;
    background-color: rgba(240, 64, 55, 0.1);
}
.Oval-bow1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top:2457.8px;
    left:576px;
    border-radius: 50px;
    background-color: rgba(84, 84, 212, 0.1);
}
.Oval-bow2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top:2457.8px;
    left:916px;
    border-radius: 50px;
    background-color: rgba(254, 220, 90, 0.1);
}
.Oval-bow3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top:2559.8px;
    border-radius: 50px;
    left:320px;
    background-color: rgba(84, 84, 212, 0.1);
}
.Oval-bow4{
    width: 50px;
    height: 50px;
    position: absolute;
    top:2559.8px;
    border-radius: 50px;
    left: 663px;
    background-color: rgba(240, 64, 55, 0.1);
}
.Oval-bow5{
    width: 50px;
    height: 50px;
    position: absolute;
    top:2661.8px;
    border-radius: 50px;
    left:236px;
    background-color: rgba(119, 191, 65, 0.1);
}
.Oval-bow6 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2661.8px;
    left: 577px;
    border-radius: 50px;
    background-color: rgba(240, 64, 55, 0.1);
}
.Oval-bow7 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2661.8px;
    left:919px;
    border-radius: 50px;
    background-color: rgba(84, 84, 212, 0.1);
}
.cards img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2472.8px;
    left:251px;
    object-fit: contain;
}
.layout-11 img{
    width: 18px;
    height: 20px;
    position: absolute;
    top: 2472.8px;
    left:592px;
    object-fit: contain;
}
.smartphone img{
    width: 15px;
    height: 20px;
    position: absolute;
    top: 2472.8px;
    left:934px;
    object-fit: contain;
}
.sidebar img{
    width: 21px;
    height: 17px;
    position: absolute;
    top:2576.8px;
    left:334px;
    object-fit: contain;
}
.grid-46 img{
    width: 19px;
    height: 19px;
    position: absolute;
    top:2573.8px;
    left:678px;
    object-fit: contain;
}
.chat-content img{
    width: 24px;
    height: 22px;
    position: absolute;
    top:2676.8px;
    left:250px;
    object-fit: contain;
}
.repair img{
    width: 24px;
    height: 11px;
    position: absolute;
    top: 2682.8px;
    left:591px;
    object-fit: contain;
}
.Doc img{
    width: 16px;
    height: 20px;
    position: absolute;
    top: 2676.8px;
    left: 936px;
    object-fit: contain;
}
.-Unique-Design-Bl img{
    width: 223px;
    height: 24px;
    position: absolute;
    top:2472.8px;
    left:301px;
    object-fit: contain;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Multiple-Layouts img{
    width: 164px;
    height: 24px;
    position: absolute;
    top: 2472.8px;
    left:639px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Mobile-First-Design-Copy-2 img{
    width: 164px;
    height: 24px;
    position: absolute;
    top: 2473.8px;
    left:979px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Fully-Responsive img{
    width: 140px;
    height: 24px;
    position: absolute;
    top:2574.8px;
    left:383px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Bootstrap-4-Framewor img{
    width: 185px;
    height: 24px;
    position: absolute;
    top: 2574.8px;
    left:726px;
    object-fit: contain;
    background-color: white;
}
.Humanly-Support img{
    width: 149px;
    height: 24px;
    position: absolute;
    top:2676.8px;
    left:299px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Lifetime-Updates img{
    width: 135px;
    height: 24px;
    position: absolute;
    top:2676.8px;
    left:640px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}
.Rich-Documentation img{
    width: 175px;
    height: 24px;
    position: absolute;
    top: 2676.8px;
    left: 982px;
    object-fit: contain;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    color: #19191b;
}

.picture img{
    width: 342px;
    height: 510px;
    top:2946.6px;
    left:845.7px;
    position: absolute;
    object-fit: contain;
}
.Group {
    width: 171px;
    height: 171px;
    position: absolute;
    top: 3173.6px;
    left:787.7px;
    object-fit: contain;
}
.Save-tons-of-time-on {
    width: 473px;
    height: 126px;
    position: absolute;
    top:3032.6px;
    left:227.7px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    white-space: nowrap;
        text-overflow: clip;
    font-size:44px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -1.69px;
    color: #19191b;
}
.Create-custom-landin-rule {
    width: 464px;
    height: 105px;
    position: absolute;
    top: 3157px;
    left: 227.7px;
    white-space: nowrap;
        text-overflow: clip;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16.79px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: -0.59px;
    color: #696871;
}
.get-started-shape {
    width: 181px;
    height: 54px;
    position: absolute;
    top: 3279px;
    left: 227.7px;
    border-radius: 4.5px;
    border: solid 0.9px #c31a12;
    background-color: #f04037;
}
.Get-started-horse {
    width: 181px;
    height: 24px;
    position: absolute;
    top:3294px;
    left: 230px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18.9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    text-align: center;
    color: white;
}